body {
  overflow: hidden;
}

@keyframes firework {
  0% { 
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% { 
    width: 0.5vmin;
    opacity: 1;
  }
  100% { 
    width: 45vmin; 
    opacity: 0; 
  }
}

.firework,
.firework::before,
.firework::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background:
    /* random backgrounds */
    radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, rgb(216, 144, 19) 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, rgb(24, 191, 99) 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, rgb(225, 11, 11) 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, rgb(240, 29, 219) 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, rgb(248, 199, 2) 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, rgb(255, 0, 0) 0.5vmin, #0000 0) 13% 24%
    ;
  background-size: 0.5vmin 0.5vmin;
  background-repeat: no-repeat;
  animation: firework 1.5s forwards;
  z-index: -1;
}

.firework::before {
  transform: translate(-50%, -50%) rotate(25deg) !important; 
}

.firework::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}